<div class="container">
    <div class="login-panel">
        <div class="login-panel__body">
            <form>
                <div class="input-container">
                    <span class="input-label">Username</span>
                    <input type="text" class="input-value" required/>
                </div>
                <div class="input-container">
                    <span class="input-label">Password</span>
                    <input type="password" class="input-value" required/>
                </div>
                <button type="submit" class="btn btn__solid fullwidth" (click)="loginUser()">Login</button>
            </form>
        </div>
    </div>
</div>