<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="text-center">
                <h3>Videos</h3>
                <button class="btn btn-info" *ngFor="let video of videos" (click)="setVideo(video.id)" style="display: block;">{{video.title}}</button>
            </div>

            <div class="input-group">
                <input type="text" class="form-control" placeholder="What's the Video URL?" [(ngModel)]="newVideoId">
                <span class="input-group-btn">
					<button class="btn btn-secondary" type="button" (click)="setVideo(newVideoId); newVideoId='';">Go!</button>
				</span>
            </div>
        </div>
        <div class="col-md-8">
            <div class="video-player">
                <h2>{{ ruffVideo.title }}<span class="video-player__status" *ngIf="totalTime <= 0">Live</span></h2>
                <youtube-player [(videoId)]="id" playerVars="{ 'controls': 0 }" width="100%" height="330" (ready)="savePlayer($event)" (change)="onStateChange($event)">
                </youtube-player>
            </div>
            <div class="video-details">
                <div class="btn-group video-details__controls" role="group">
                    <button type="button" class="btnVideoControl" (click)="playVideo()" *ngIf="playerstate != 1 && totalTime > 0">
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btnVideoControl" (click)="pauseVideo()" *ngIf="playerstate == 1 && totalTime > 0">
                        <i class="fa fa-pause" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btnVideoControl" (click)="toggleMute('mute')" *ngIf="!isVideoMuted">
                        <i class="fa fa-volume-up" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btnVideoControl" (click)="toggleMute('unmute')" *ngIf="isVideoMuted">
                        <i class="fa fa-volume-off" aria-hidden="true"></i>
                    </button>
                    <input type="range" class="video-details__volume" min="0" max="100" [(ngModel)]="video_volume" (ngModelChange)="changeVolume($event)"
                    />
                    <span class="video-details__timerec">{{ current | incidentTime }}<span>&nbsp;/&nbsp;{{ totalTime | incidentTime }}</span></span>
                </div>
            </div>
            <!--Temporary timeline-->
            <div class="video-timeline" *ngIf="totalTime > 0">
                <!--<div class="detail-label">Video Timeline</div>
                <div class="video-timeline__container" style="display: none;">
                    <span class="video-timeline__slot" *ngFor="let slot of timeline_slots" [ngClass]="{'incident': slot.hasIncident}">
                        <a (click)="gotoTime(slot.value)" [title]="slot.value | incidentTime"></a>
                    </span>
                </div>
                <div class="video-timeline__container small" style="display: none;">
                    <span class="video-timeline__pin" [ngStyle]="{left: current+'px'}"></span>
                </div>-->
                <div class="video-timeline__container">
                    <input class="video-timeline__timeline" type="range" min="0" [max]="totalTime" [(ngModel)]="current" (ngModelChange)="moveSlider($event)"
                    />
                    <span class="video-timeline__slot" *ngFor="let slot of ruffVideo.incidents" [ngStyle]="{left: setInsightPositions(slot.time)+'%'}"
                        [ngClass]="{ bug: getCatgClass(slot.category) }">
                        <a (click)="gotoTime(slot.time)" [title]="slot.time | incidentTime"></a>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4>Recorded Insights</h4>
            <a (click)="setTime()" class="btnInsight">+ Add</a>
            <div class="incident-list">
                <div *ngFor="let incident of ruffVideo.incidents" class="incident-item">
                    <div class="incident-item__container half">
                        <span class="incident-item__label">Category</span>
                        <select class="incident-item__catg" [(ngModel)]="incident.category">
                            <option *ngFor="let item of catg | keys" [value]="item.key">{{item.value}}</option>
                        </select>
                    </div>
                    <div class="incident-item__container half right">
                        <span class="incident-item__label">Time</span>
                        <span class="incident-item__time">{{ incident.time | incidentTime }}</span>
                    </div>
                    <div class="incident-item__container">
                        <span class="incident-item__label">Description</span>
                        <textarea [(ngModel)]="incident.description" class="incident-item__desc"></textarea>
                    </div>
                    <div class="incident-item__container">
                        <button class="incident-item__deletebtn" type="button" title="Delete insight" (click)="deleteIncident(incident)" style="float: right">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <button type="button" (click)="getVideoInfo()">Get Video Info</button>
            <button type="button" (click)="generateVideoTimeline()">Refresh Timeline</button>
        </div>
    </div>
</div>