// Spacing
$tiny-space: 4px;
$small-space: 12px;
$medium-space: 18px;
$large-space: 32px;


// Colors
$white: #fefefe;
$text-grey: #353535;
$black: #000000;

$nav-bg: #000A40;
$bg-warm: #EEEDEF;
$bg-darkgrey: #2F2F2F;

$divider: #cccccc;
$primary: #000A40;

$danger: #E6524A;
$success: #78FF7F;