@import 'scss/variables.scss';
@import 'scss/reset.scss';
@import 'scss/layout.scss';
@import 'scss/base.scss';

@import 'login/components/login.component.scss';
@import 'video-player/components/test-player.component.scss';
@import 'video-player/components/video-player.component.scss';

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h1{
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 24px;
}

h2 {
    font-size: 21px;
    line-height: 27px;
    margin-bottom: 12px;
}

h4{
    margin-bottom: 12px; 
}

nav{
    width: 100%;
    padding: 16px 0;
    background: $nav-bg;
    display: table;

    .main-nav{
        list-style: none;
        width: 100%;

        li{
            float: right;
            padding: 0 12px;

            a{
                text-decoration: none;
                color: $white;
                padding-bottom: 4px;
                border-bottom: 1px solid transparent;

                &:hover{
                    border-color: $white;
                }
            }

            &.main-logo {
                float: left;

                .fa { margin-right: 6px }

                a:hover {
                    border: none;
                }
            }
        }
    }
}

section{
    width: 960px;
    margin: 0px auto;
    display: table;
}

.detail-label{
    display: block;
    width: 100%;
    margin-bottom: $small-space;
    padding-bottom: 12px;
    border-bottom: 1px solid $divider;
    font-size: 18px;
    line-height: 22px;
    color: $primary;
    font-weight: 600;
}

.btn {
    outline: none;
    padding: 12px;
    line-height: 18px;
    margin: 0px 3px;
    border: solid 1px;
    cursor: pointer;

    &.fullwidth{
        width: 100%;
        margin: 0px;
    }

    &__solid {
        border-color: $primary;
        color: $white;
        background: $primary;
    }
}


// Input fields
.input-container {
    display: table;
    width: 100%;
    margin-bottom: 24px;

    .input-label{
        display: block;
        width: 100%;
        margin-bottom: 6px;
        font-size: 13px;
        line-height: 18px;
    }

    input[type="password"],
    input[type="text"] {
        outline: none;
        padding: 12px;
        border: 1px solid $divider;
        font-size: 14px;
        line-height: 18px;
        width: 100%;

        &:focus {
            border-color: $primary;
        }
    }
}